/*

 d888b  d88888b d8b   db d88888b d8888b.  .d8b.  db      
88' Y8b 88'     888o  88 88'     88  `8D d8' `8b 88      
88      88ooooo 88V8o 88 88ooooo 88oobY' 88ooo88 88      
88  ooo 88~~~~~ 88 V8o88 88~~~~~ 88`8b   88~~~88 88      
88. ~8~ 88.     88  V888 88.     88 `88. 88   88 88booo. 
 Y888P  Y88888P VP   V8P Y88888P 88   YD YP   YP Y88888P 	*/

/* 
	Want free cool commented titles like the one above? 
	Go to: http://www.network-science.de/ascii/ 
*/

body {
    padding-right: 20px;
    padding-left: 20px;
}

/* This code makes Footer sticky */
html, body {
	height:100%;	
}

.main_section {
	min-height:80%;
}


/*

d8888b. d88888b .d8888. d8888b.  .d88b.  d8b   db .d8888. d888888b db    db d88888b 
88  `8D 88'     88'  YP 88  `8D .8P  Y8. 888o  88 88'  YP   `88'   88    88 88'     
88oobY' 88ooooo `8bo.   88oodD' 88    88 88V8o 88 `8bo.      88    Y8    8P 88ooooo 
88`8b   88~~~~~   `Y8b. 88~~~   88    88 88 V8o88   `Y8b.    88    `8b  d8' 88~~~~~ 
88 `88. 88.     db   8D 88      `8b  d8' 88  V888 db   8D   .88.    `8bd8'  88.     
88   YD Y88888P `8888Y' 88       `Y88P'  VP   V8P `8888Y' Y888888P    YP    Y88888P 	*/
                                                                                    


/* Responsive Design */

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}














